<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BimProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProprietorLoginServlet</display-name>
    <servlet-name>ProprietorLoginServlet</servlet-name>
    <servlet-class>com.itheima.web.proprietor.servlet.ProprietorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProprietorLoginServlet</servlet-name>
    <url-pattern>/proprietorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuilderLoginServlet</display-name>
    <servlet-name>BuilderLoginServlet</servlet-name>
    <servlet-class>com.itheima.web.builder.servlet.BuilderLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuilderLoginServlet</servlet-name>
    <url-pattern>/builderLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BidderLoginServlet</display-name>
    <servlet-name>BidderLoginServlet</servlet-name>
    <servlet-class>com.itheima.web.proprietor.servlet.BidderLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidderLoginServlet</servlet-name>
    <url-pattern>/bidderLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProprietorAdminWindowListServlet</display-name>
    <servlet-name>ProprietorAdminWindowListServlet</servlet-name>
    <servlet-class>com.itheima.web.proprietor.servlet.ProprietorAdminWindowListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProprietorAdminWindowListServlet</servlet-name>
    <url-pattern>/proprietorAdminWindowList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProprietorAdminFinishWindowServlet</display-name>
    <servlet-name>ProprietorAdminFinishWindowServlet</servlet-name>
    <servlet-class>com.itheima.web.proprietor.servlet.ProprietorAdminFinishWindowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProprietorAdminFinishWindowServlet</servlet-name>
    <url-pattern>/proprietorAdminFinishWindow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuilderAdminFinishWindowServlet</display-name>
    <servlet-name>BuilderAdminFinishWindowServlet</servlet-name>
    <servlet-class>com.itheima.web.builder.servlet.BuilderAdminFinishWindowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuilderAdminFinishWindowServlet</servlet-name>
    <url-pattern>/builderAdminFinishWindow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuilderAdminWindowListServlet</display-name>
    <servlet-name>BuilderAdminWindowListServlet</servlet-name>
    <servlet-class>com.itheima.web.builder.servlet.BuilderAdminWindowListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuilderAdminWindowListServlet</servlet-name>
    <url-pattern>/builderAdminWindowList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuilderEditUIServlet</display-name>
    <servlet-name>BuilderEditUIServlet</servlet-name>
    <servlet-class>com.itheima.web.builder.servlet.BuilderEditUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuilderEditUIServlet</servlet-name>
    <url-pattern>/builderEditUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuilderEditServlet</display-name>
    <servlet-name>BuilderEditServlet</servlet-name>
    <servlet-class>com.itheima.web.builder.servlet.BuilderEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuilderEditServlet</servlet-name>
    <url-pattern>/builderEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProprietorEditDescUIServlet</display-name>
    <servlet-name>ProprietorEditDescUIServlet</servlet-name>
    <servlet-class>com.itheima.web.proprietor.servlet.ProprietorEditDescUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProprietorEditDescUIServlet</servlet-name>
    <url-pattern>/proprietorEditDescUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProprietorEditServlet</display-name>
    <servlet-name>ProprietorEditServlet</servlet-name>
    <servlet-class>com.itheima.web.proprietor.servlet.ProprietorEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProprietorEditServlet</servlet-name>
    <url-pattern>/proprietorEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuilderSearchWindowServlet</display-name>
    <servlet-name>BuilderSearchWindowServlet</servlet-name>
    <servlet-class>com.itheima.web.builder.servlet.BuilderSearchWindowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuilderSearchWindowServlet</servlet-name>
    <url-pattern>/builderSearchWindow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WindowInfoServlet</display-name>
    <servlet-name>WindowInfoServlet</servlet-name>
    <servlet-class>com.itheima.web.builder.servlet.WindowInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WindowInfoServlet</servlet-name>
    <url-pattern>/windowInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProprietorSearchWindowServlet</display-name>
    <servlet-name>ProprietorSearchWindowServlet</servlet-name>
    <servlet-class>com.itheima.web.proprietor.servlet.ProprietorSearchWindowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProprietorSearchWindowServlet</servlet-name>
    <url-pattern>/proprietorSearchWindow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProprietorEditPriceUIServlet</display-name>
    <servlet-name>ProprietorEditPriceUIServlet</servlet-name>
    <servlet-class>com.itheima.web.proprietor.servlet.ProprietorEditPriceUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProprietorEditPriceUIServlet</servlet-name>
    <url-pattern>/proprietorEditPriceUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProprietorEditPriceServlet</display-name>
    <servlet-name>ProprietorEditPriceServlet</servlet-name>
    <servlet-class>com.itheima.web.proprietor.servlet.ProprietorEditPriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProprietorEditPriceServlet</servlet-name>
    <url-pattern>/proprietorEditPrice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProprietorEditDeadlineUIServlet</display-name>
    <servlet-name>ProprietorEditDeadlineUIServlet</servlet-name>
    <servlet-class>com.itheima.web.proprietor.servlet.ProprietorEditDeadlineUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProprietorEditDeadlineUIServlet</servlet-name>
    <url-pattern>/proprietorEditDeadlineUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProprietorEditDeadlineServlet</display-name>
    <servlet-name>ProprietorEditDeadlineServlet</servlet-name>
    <servlet-class>com.itheima.web.proprietor.servlet.ProprietorEditDeadlineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProprietorEditDeadlineServlet</servlet-name>
    <url-pattern>/proprietorEditDeadline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BidderServlet</display-name>
    <servlet-name>BidderServlet</servlet-name>
    <servlet-class>com.itheima.web.bidder.servlet.BidderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidderServlet</servlet-name>
    <url-pattern>/bidder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>com.itheima.web.bidder.servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
</web-app>